/* html and body tags */

html {
    font-size: 14px;
}


body {
    font-family: 'Inconsolata', monospace;
    margin-left: 150px;
    margin-right: 150px;
}

p {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}


@media only screen and (min-width: 1365px) {
    html {
        font-size: 16px;
    }

    body {
        margin-left: 380px;
        margin-right: 380px;
    }
}

@media only screen and (max-width:700px)   {
    html {
        font-size: 12px;
    }

    body {
        margin-left: 150px;
        margin-right: 150px;
    }
}


@media only screen and (max-width:540px)  {

    html {
        font-size: 10px;
    }

    body {
        margin-left: 100px;
        margin-right: 100px;
    }

}


/* hyperlinks */

a:link {
    color: rgb(0, 0, 78);
    text-decoration: none;
}

a:visited {
    color: rgba(169, 169, 169, 0.495);
}

a:hover {
    color: rgba(169, 169, 169, 0.495);
    text-decoration: line-through;
}


/* top page */

.header {
   height: 64px;
   text-align: right;
   font-size: 0.8rem;
   padding-top: 18px;
   font-weight: 300;
}

.title {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 3.5rem;
}


/* right hand links (misc) */

.navigationtitle {
    text-align: right;
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 300;
    font-style: oblique;

}

.links {
    text-align: right;
    
}

.time-drifter:hover {
    color: white;
}

.plane-shifter:hover {
    color: white;
}



/* left hand project links */

.projecttitle {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 300;
    font-style: oblique;
}

#cartographerinfo {
    opacity: 0;
}

#cartographertitle:hover ~ #cartographerinfo {
    opacity: 1;
}

#achievementsinfo {
    opacity: 0;
}

#achievementstitle:hover ~ #achievementsinfo {
    opacity: 1;
}

#ectobruiseinfo {
    opacity: 0;
}

#ectobruisetitle:hover ~ #ectobruiseinfo {
    opacity: 1;
}

#magicandmachineinfo {
    opacity: 0;
}

#magicandmachinetitle:hover ~ #magicandmachineinfo {
    opacity: 1;
}

#magicandmachinetxtinfo {
    opacity: 0;
}

#magicandmachinetxttitle:hover ~ #magicandmachinetxtinfo {
    opacity: 1;
}

#thearcadeinfo {
    opacity: 0;
}

#thearcadetitle:hover ~ #thearcadeinfo {
    opacity: 1;
}


/* image gallery */

.arcadetitle {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: right;
    font-weight: 300;
    font-style: oblique;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.images img {
    height: 100%;
    width: auto;
}




/* actual entries and text */

.subtitle {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 300;
    font-style: oblique;
}

.mainentry {
    margin-bottom: 48px;
    font-size: 1.2rem;
}

.mainentryimagebreak {
    margin-bottom: 0; 
    font-size: 1.2rem;
}

.dateentry {
    text-align: right;
    font-style: oblique;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 48px;
}