/* html and body tags */

html {
    font-size: 14px;
}


body {
    font-family: 'Inconsolata', monospace;
    margin-left: 1px;
    margin-right: 1px;
}

p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 16rem;
    padding-right: 16rem;
    margin-top: 0;
    margin-bottom: 0;
}



@media only screen and (min-width: 1365px) {
    html {
        font-size: 16px;
    }

    body {
        margin-left: 3px;
        margin-right: 3px;
    }

    p {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 24rem;
        padding-right: 24rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:700px)   {
    html {
        font-size: 12px;
    }

    body {
        margin-left: 1px;
        margin-right: 1px;
    }

    p {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 10rem;
        padding-right: 10rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}


@media only screen and (max-width:540px)  {

    html {
        font-size: 10px;
    }

    body {
        margin-left: 1px;
        margin-right: 1px;
    }

    p {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 6rem;
        padding-right: 6rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}


/* hyperlinks */

a:link {
    color: rgb(0, 0, 78);
    text-decoration: none;
}

a:visited {
    color: rgba(169, 169, 169, 0.495);
}

a:hover {
    color: rgba(169, 169, 169, 0.495);
    text-decoration: line-through;
}


/* top page */

.header {
   height: 64px;
   text-align: right;
   font-size: 0.8rem;
   padding-top: 18px;
   font-weight: 300;
}

.title {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 3.5rem;
}


/* main poem */

.mainpoem {
    margin-top: 80px;
    margin-bottom: 80px;
}
#compass {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem
}

#compassicon {
    height: 2rem;
    width: 2rem;
}

#compassicon img {
    width: 100%;
    height: auto;
}

#line1 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#compass:hover ~ #line1 {
    opacity: 1;
}

#line2 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line1:hover ~ #line2 {
    opacity: 1;
}

#line3 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line2:hover ~ #line3 {
    opacity: 1;
}

#line4 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line3:hover ~ #line4 {
    opacity: 1;
}

#line5 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line4:hover ~ #line5 {
    opacity: 1;
}

#line6 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line5:hover ~ #line6 {
    opacity: 1;
}

#line7 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line6:hover ~ #line7 {
    opacity: 1;
}

#line8 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line7:hover ~ #line8 {
    opacity: 1;
}

#line9 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line8:hover ~ #line9 {
    opacity: 1;
}

#line10 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line9:hover ~ #line10 {
    opacity: 1;
}

#line11 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line10:hover ~ #line11 {
    opacity: 1;
}

#line12 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line11:hover ~ #line12 {
    opacity: 1;
}

#line13 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line12:hover ~ #line13 {
    opacity: 1;
}

#line14 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line13:hover ~ #line14 {
    opacity: 1;
}

#line15 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line14:hover ~ #line15 {
    opacity: 1;
}

#line16 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line15:hover ~ #line16 {
    opacity: 1;
}

#line17 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line16:hover ~ #line17 {
    opacity: 1;
}

#line18 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line17:hover ~ #line18 {
    opacity: 1;
}

#line19 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line18:hover ~ #line19 {
    opacity: 1;
}

#line20 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line19:hover ~ #line20 {
    opacity: 1;
}

#line21 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line20:hover ~ #line21 {
    opacity: 1;
}

#line22 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line21:hover ~ #line22 {
    opacity: 1;
}

#line23 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line22:hover ~ #line23 {
    opacity: 1;
}


#line24 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line23:hover ~ #line24 {
    opacity: 1;
}

#line25 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line24:hover ~ #line25 {
    opacity: 1;
}

#line26 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line25:hover ~ #line26 {
    opacity: 1;
}


#line27 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line26:hover ~ #line27 {
    opacity: 1;
}


#line28 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line27:hover ~ #line28 {
    opacity: 1;
}

#line29 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line28:hover ~ #line29 {
    opacity: 1;
}

#line30 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line29:hover ~ #line30 {
    opacity: 1;
}

#line31 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line30:hover ~ #line31 {
    opacity: 1;
}

#line32 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line31:hover ~ #line32 {
    opacity: 1;
}

#line33 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line32:hover ~ #line33 {
    opacity: 1;
}

#line34 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line33:hover ~ #line34 {
    opacity: 1;
}


#line35 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line34:hover ~ #line35 {
    opacity: 1;
}


#line36 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line35:hover ~ #line36 {
    opacity: 1;
}


#line37 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;

}

#line36:hover ~ #line37 {
    opacity: 1;
}


#narrative {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem
}

#narrativeicon {
    height: 4rem;
    width: 4rem;
}

#narrativeicon img {
    width: 100%;
    height: auto;
}


#line38 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#narrative:hover ~ #line38 {
    opacity: 1;
}

#line39 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line38:hover ~ #line39 {
    opacity: 1;
}

#line40 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line39:hover ~ #line40 {
    opacity: 1;
}

#line41 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line40:hover ~ #line41 {
    opacity: 1;
}

#line42 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line41:hover ~ #line42 {
    opacity: 1;
}

#line43 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line42:hover ~ #line43 {
    opacity: 1;
}

#line44 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line43:hover ~ #line44 {
    opacity: 1;
}

#line45 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line44:hover ~ #line45 {
    opacity: 1;
}

#line46 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line45:hover ~ #line46 {
    opacity: 1;
}

#line47 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line46:hover ~ #line47 {
    opacity: 1;
}

#line48 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line47:hover ~ #line48 {
    opacity: 1;
}

#line49 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line48:hover ~ #line49 {
    opacity: 1;
}

#line50 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line49:hover ~ #line50 {
    opacity: 1;
}

#line51 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line50:hover ~ #line51 {
    opacity: 1;
}

#line52 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line51:hover ~ #line52 {
    opacity: 1;
}

#line53 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line52:hover ~ #line53 {
    opacity: 1;
}

#line54 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
}

#line53:hover ~ #line54 {
    opacity: 1;
}

#line55 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line54:hover ~ #line55 {
    opacity: 1;
}

#line56 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line55:hover ~ #line56 {
    opacity: 1;
}

#line57 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line56:hover ~ #line57 {
    opacity: 1;
}

#line58 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: right;
}

#line57:hover ~ #line58{
    opacity: 1;
}

#line59 {
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    text-align: center;
}

#line58:hover ~ #line59{
    opacity: 1;
}


#compass2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem
}

#compassicon2 {
    height: 2rem;
    width: 2rem;
}

#compassicon2 img {
    width: 100%;
    height: auto;
}

/* left hand links */

.projecttitle {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 300;
    font-style: oblique;
}

