/* html and body tags */

html {
    font-size: 13px;
}


body {
    font-family: 'Inconsolata', monospace;
    margin-left: 150px;
    margin-right: 150px;
}

/* hyperlinks */

a:link {
    color: rgb(0, 0, 78);
    text-decoration: none;
}

a:visited {
    color: rgba(169, 169, 169, 0.495);
}

a:hover {
    color: rgba(169, 169, 169, 0.495);
    text-decoration: line-through;
}


/* top page */

.header {
   height: 64px;
   font-size: 1rem;
   text-align: right;
   padding-top: 18px;
   font-weight: 300;
}

.title {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 3.5rem;
}

/* right hand links (misc) */

.navigationtitle {
    text-align: right;
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 300;
    font-style: oblique;

}

.links {
    text-align: right;
    font-size: 1rem;
}

.time-drifter:hover {
    color: white;
}

.plane-shifter:hover {
    color: white;
}


/* left hand links */

.projecttitle {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 300;
    font-style: oblique;
}

.projectlinks {
    font-size: 1rem;
}






/* image gallery */

.arcadetitle {
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 300;
    font-style: oblique;
}

.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.images img {
    height: 100%;
    width: auto;
}

.imgcontainer {
    height: 23rem;
    margin: 2rem;
}


/* actual entries and text */

.subtitle {
    margin-top: 16px;
    margin-bottom: 48px;
    font-weight: 300;
    font-style: oblique;
    font-size: 1rem;
}

.mainentry {
    margin-bottom: 48px;
    font-size: 1.2rem;
}

.dateentry {
    text-align: right;
    font-size: 12px;
    font-style: oblique;
    font-weight: 300;
}