body {
    font-family: 'Inconsolata', monospace;
    margin-left: 150px;
    margin-right: 150px;
}

.header {
    height: 64px;
   font-size: 12px;
   text-align: right;
   padding-top: 18px;
}

.title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}